<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Empresarios Con Liderazgo</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Paquetes de inversión
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="a">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mis productos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="b">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Transferencias
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="c">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contratos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="d">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nuestra Web
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="e">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Soporte
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="f">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Solicita tu credencial
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="g">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pagos en Crypto
            </NavLink>
        </div>
       

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
